.title-header {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 1rem;
  margin: 0;
  background-color: aquamarine;
}
.linea {
  border-top: 5px solid black;
  height: 2px;
  max-width: 100%;
  padding: 0;
  margin: 0 auto 1rem auto;
}
.footer {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 1rem;
  margin: 0;
}
ul {
  background-color: rgba(0, 0, 0, 0.292);
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
}
body {
  /* background-color: rgb(155, 155, 155); */
}
.body {
  color: rgb(0, 0, 0);
}
